* {
    box-sizing: border-box;
}

@font-face {
    font-family: sport;
    src: url(../fonts/oldsport.ttf);
}

@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica.ttf);
}

html, body{
    margin: 0 auto;
    background-color: #F2EFE9;
    padding-bottom: 45px;
    font-family: Helvetica;
}

/* FONT STYLING */
h1, h2 {
    color: #5E2BFF;
    font-family: sport;
    margin-top: 10px;
}

i {
    font-size: 30px;
    color: black;
}

/* NAVBAR */
nav {
    background-color: #FFFFFF;
    border: 2px solid #5E2BFF;
    color: #5E2BFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
}

nav a i {
    color: #5E2BFF;
}

/* FORM */

form {
    padding: 15px;
    text-align: center;
}

form input {
    width: 230px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #707070;
}

.button {
    padding: 10px 100px;
    background-color: #6290C8;
    border: 0;
}

.button.white {
    background-color: #FFFFFF;
    border: 1px solid #707070;
    width: 230px;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 20px;
}

.button a {
    color: #FFFFFF;
    font-size: 18px;
}

.button.white a {
    color: #707070;
}

.button a:hover {
    text-decoration: none;
}

/* WELCOME */
.logo {
    width: 150px;
    margin: 50px 0 20px;
}

.welcome-account {
    font-family: 'Franklin Gothic Medium', 'Helvetica', sans-serif;
    margin: 40px 0 20px;
}

/* PAGE HEADER */
.page-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.page-title .back-arrow {
    position: absolute;
    left: 15px;
}

/* EVENT */
.event {
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    display: grid;
    grid-template-columns: 35% 65%;
}

.event--img {
    width: 100%;
}

.event--info {
    padding: 5px;
}

.event p {
    margin-bottom: 0px;
}

.event--title {
    font-weight: bold;
}

.event--icons {
    display: flex;
    margin-left: auto;
}

.event--icons i {
    padding: 3px 5px;
    font-size: 15px;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.scrolling-wrapper::-webkit-scrollbar {
      display: none;
    }

.scroll-item {
    flex: 0 0 90%;
}

/* CLUB SPOTLIGHT */
.club-spotlight .scroll-item {
    flex: 0 0 45%;
}

.spotlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 130px;
}

.spotlight--img {
    border-radius: 50%;
    width: 125px;
    margin-bottom: 5px;
}

.spotlight--club-name {
    text-align: center;
    font-size: 20px;
}

/* NOTIFICATIONS */
.noti-bell {
    float: right;
}

.noti-hr {
    border-top: 1px solid #707070;
    margin: 15px 0;
}

.noti-group--title {
    font-family: 'Franklin Gothic Medium', 'Helvetica', sans-serif;
}

.noti-group--img {
    width: 60px;
    border-radius: 50%;
    border: 1px solid #707070;
    margin-right: 20px;
}

.noti-group--desc {
    font-size: 12px;
    margin-bottom: 0;
    max-width: 217px;
}

.noti-group--desc.club {
    max-width: 180px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* SEARCH */
.search-dropdown {
    background-color: transparent;
    color: #707070;
    border-radius: 25px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 20px;
}

.search-dropdown:hover,
.search-dropdown:active,
.show>.btn-secondary.dropdown-toggle {
    background-color: #5E2BFF;
}

.dropdown-menu {
    border-radius: 18px;
    border: 1px solid #000000;
}

.dropdown-item a {
    color: inherit;
}

.dropdown-item a:hover {
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: transparent;
}

.search-input {
    border: 0;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium',sans-serif;
    font-size: 28px;
    width: 60%;
}

.search-input:focus-visible {
    outline: 0;
}

.filter-button {
    border-radius: 25px;
    background-color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 15px;
    padding: 2px 9px;
}

.filter-button i {
    font-size: 15px;
}

.search-results {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 20px;
}


@media screen and (max-width: 428px) {
div {
    display: flex;
    flex-wrap: wrap;
}
.back i {
    padding-left: 25px;
    padding-top: 25px;
    color: black;
}
.pagetitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin: 0px;
}
.pagetitle h2 {
    font-family: sport;
    font-weight: normal;
    color: #5E2BFF;
    font-size: 35px;
    margin-top: 0px;
    margin: 0px;

}
/*SETTINGS.PHP STYLING*/
.settingsop ul {
    list-style: none;
    margin: 5px;
    padding: 5px;
}
.settingsop li {
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    padding: 20px;
}
.settingsop li i {
    display: block;
    float: right;
    padding-left: 190px;
    color: black;
}
.logout {
    display: block;
    position: relative;
    text-align: center;
    top: 200px;
}
.logout a {
    font-family: 'Helvetica';
    border-style: solid;
    text-decoration: none;
    color: white;
    border-color: #6290c8;
    background-color: #6290c8;
    font-size: 20px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;

}
/*ACCOUNTST.PHP STYLING*/
.changepropic {
    display: relative;
    text-align: center;
    padding: 20px;
}
.changepropic a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium';
    color: #707070;
    font-size: 20px;
    margin-top: 20px;
}
.changepropic .dot {
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
    height: 68px;
    width: 68px;
}
.profileinfo h5 {
    font-weight: normal;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    margin: 0px;
    padding-left: 30px;
}
.profileinfo form {
    border-color: #707070;
    padding: 10px;
    margin: 20px;
}
.profileinfo {
    display: block;
}
.profileinfo input{
    font-family: 'Helvetica';
    font-size: 18px; 
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.profileinfo button {
    font-family: 'Helvetica';
    border-style: solid;
    text-decoration: none;
    color: white;
    border-color: #6290c8;
    background-color: #6290c8;
    font-size: 16px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.deactivate {
    display: block;
    position: relative;
    text-align: center;
    top: 50px;
}
.deactivate button {
    font-family: 'Helvetica';
    border-style: solid;
    text-decoration: none;
    color: white;
    border-color: #6290c8;
    background-color: #6290c8;
    font-size: 20px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;

}
/*PRIVACYST.PHP STYLING*/
.privacyop ul {
    list-style: none;
    margin: 5px;
    padding: 5px;
}
.privacyop li {
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    padding: 20px;
}
.privacyop li i {
    display: block;
    float: right;
    padding-left: 50px;
    color: black;
}
/*NOTIFICATIONSST.PHP STYLING*/
.notificationop ul {
    list-style: none;
    margin: 5px;
    padding: 5px;
}
.notificationop li {
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    padding: 20px;
}
.notificationop li i {
    display: block;
    float: right;
    padding-left: 200px;
    color: black;
}
/*ACCESSIBILITYST.PHP STYLING*/
.accessibilityop ul {
    list-style: none;
    margin: 5px;
    padding: 5px;
}
.accessibilityop li {
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    padding: 20px;
}
.accessibilityop li i {
    display: block;
    float: right;
    padding-left: 240px;
    color: black;
}
/*CREATEPOST.PHP STYLING*/
.eventform form {
    border-color: #707070;
    padding: 10px;
    margin: 20px;
}
.eventform {
    display: block;
}
.eventform input{
    font-family: 'Helvetica';
    font-size: 18px; 
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.uploadimage {
    display: block;
    padding-left: 30px;
    margin-bottom: 20px;
}
.uploadimage h5 {
    font-size: 20px;
    margin: 5px;
    font-family: 'Franklin Gothic Medium';
    text-decoration: none;
}
.uploadimage h6 {
    font-size: 16px;
    margin: 5px;
    font-family: 'Franklin Gothic Medium';
    text-decoration: none;
}
.uploadimage button {
    width: 135px;
    background-color: white;
    font-family: 'Helvetica';
    font-size: 18px;
    border-color: #707070;
    border-width: 1px;
}
.eventtags {
    display: block;
    padding-left: 30px;
}
.eventtags h5 {
    font-size: 20px;
    margin: 5px;
    font-family: 'Franklin Gothic Medium';
    text-decoration: none;
}
.eventtags ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}
.eventtags li {
    float: left;
    padding: 10px;
}
.eventtags button {
    font-family: 'Helvetica';
    background-color: white;
    border-color: #707070;
    border-radius: 50%;
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
}
.eventtags button:hover {
    background-color: #6290c8;
}
.promotebutton {
    display: block;
    padding-left: 30px;
    padding: 25px;
    margin-top: 20px;
}
.promotebutton h5 {
    font-size: 20px;
    margin: 5px;
    font-family: 'Franklin Gothic Medium';
    text-decoration: none;
}
.createeb button {
    font-family: 'Helvetica';
    color: white;
    background-color: #6290c8;
    border-color: #6290c8;
    border-style: none;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 235px;
    margin-left: 100px;
    margin-bottom: 30px;
}
/*PROFILE.PHP STYLING*/
.setgear {
    float: right;
}
.setgear i{
    color: black;
    padding: 4px;
}
.mainprofile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilepic {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilepic img {
    border-radius: 50%;
    object-fit: cover;
    width: 156px;
    height: 156px;
    position: relative;
    margin-top: 20px;
    margin-left: 40px;
}
.mainprofile h2 {
    font-family: 'Franklin Gothic Medium';
    font-size: 35px;
    margin: 0px;
    font-weight: normal;
}
.mainprofile h4 {
    font-family: 'Helvetica';
    font-size: 18px;
    margin: 0px;
    font-weight: normal;
    text-align: center;
    padding: 10px;
}
.mainprofile a {
    font-family: 'Helvetica';
    color: #707070;
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 10px 50px
}
.friendslistbt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.friendslistbt a {
    font-family: 'Helvetica';
    color: #707070;
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 10px 100px
}
/*CLUBPROFILE.PHP STYLING*/
.clubicons {
    float: right;
}
.clubicons i {
    padding: 4px;
    color: black;
}
.clubpic {
    display: flex;
    justify-content: center;
    align-items: center;
}
.clubprofile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.clubpic img {
    border-radius: 50%;
    object-fit: cover;
    width: 156px;
    height: 156px;
    position: relative;
    margin-top: 20px;
    margin-left: 80px;
}
.clubprofile h2 {
    font-family: 'Franklin Gothic Medium';
    font-size: 35px;
    margin: 0px;
    font-weight: normal;
}
.clubprofile h4 {
    font-family: 'Helvetica';
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 10px;
    margin: 0px;
}
.clubprofile ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}
.clubprofile li {
    float: left;
    padding: 10px;
}
.clubpost h2 {
    color: #5E2BFF;
    font-family: 'Franklin Gothic Medium';
    margin-left: 20px;
}
.clubprofile a {
    font-family: 'Helvetica';
    color: #707070;
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 10px 50px;
}
/*USER.PHP STYLING*/
.userprofile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.userpic {
    display: flex;
    justify-content: center;
    align-items: center;
}
.userpic img {
    border-radius: 50%;
    object-fit: cover;
    width: 156px;
    height: 156px;
    position: relative;
    margin-top: 20px;
}
.userprofile h2 {
    font-family: 'Franklin Gothic Medium';
    font-size: 35px;
    margin: 0px;
    font-weight: normal;
}
.userprofile h4 {
    font-family: 'Helvetica';
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 10px;
    margin: 0px;
}
.userprofile a {
    font-family: 'Helvetica';
    color: #707070;
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 10px 100px
}
}
/* Message container - Person1 */
.container1msg{
    border: 2px solid #707070;
    background-color: #6290C8;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    overflow: auto;
  }
  
  /* Message container - Person2 */
  .container2msg {
    border-color: #707070;
    background-color: #403D39;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    overflow: auto;
  }
  
  /* Style Img - Person1 */
  .container1msg img.Person1 {
    float: left;
    max-width: 60px;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style Img - Person2 */
  .container2msg img.Person2 {
    float: right;
    margin-left: 20px;
    border-radius: 50%;
    max-width: 60px;
  }
  
  /* Text from Person1 */
  .message-sent1 {
    float: right;
    color: #FFFFFF;
  }
  
  /* Text from Person2 */
  .message-sent2 {
    float: left;
    color: #FFFFFF;
  }

  /* Header for Messages */
  .header {
  padding: 60px;
  margin-bottom: 30px;
  text-align: center;
  background: #F2EFE9;
  color: white;
  font-size: 30px;
}

/* Profile Image */
    .header img{
    max-width: 200px;
    width: auto;
    float: left;
    margin-left: 20px;
    border-radius: 50%;
    }
/*footer input text message*/
    .footer_msg {
        padding: 20px; 
        align:center;
        font-size: 20px;  
    }
/* Nav Bar for Events */
      .navbar{
        overflow:hidden;
    }
/* Style the links inside the navigation bar */
    .navbar a {
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    color: black;
    }
/* Add a color to the active/current link */
    .navbar a.active {
    color: #5E2BFF;
    }


/* clubs styling */
    .clubs{
        border: 2px solid black;
        border-radius: 5px;
        padding: 10px;
        overflow: auto;
    }
    .clubs img {
        float: left;
        height: 20%;
        margin-right: 20px;
        border-radius: 50%;
    }